.blogsearch-image{
     background:url("https://i.postimg.cc/V6sbdZ6Q/blogimage7.jpg");
    
    background-size: 100% 100%;
    margin-top: 55px;
    padding-bottom: 100px;
    margin-bottom: 30px;
    height: 200px;
}